<div class="container">
    <div class="text">
        <h2>Bienvenido a TechShop</h2>
        <p>¡Si aun no te has registrado puedes hacerlo ahora!</p>
        <button>Registrate</button>
    </div>

    <div class="form">
        <h1>Inicia seccion</h1>
        <form action="">
            <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">
            </mat-form-field>
            <div class="ing">
                <label for="">Clave:</label>
                <input type="password" placeholder="Ingresa tu clave">
            </div>
        </form>
    </div>
</div>